

body {
	background: #00A1F1;
	
);
	text-align: center;
	font-family: Arial;
	font-size: 14pt;
}
#border {
	background-color: #F65314;
	border-style: dotted;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 500px;
}

img {
	margin-bottom: 20px;
	
}

img {
  max-width:50%;
  max-height:50%;
}


span {
	display: inline-block;
	width: 200px;
	font-weight: bold;
	margin-right: 20px;
}